
<div *ngIf="mainGroup">
<form [formGroup]="mainGroup" (submit)="onSubmit()">
  <todo formGroupName="todo" [parentForm]="mainGroup"></todo>
  <!--<todos formControlName="anotherTodoList"></todos>-->
  <button [disabled]="!mainGroup.valid" type="submit">APP</button>
</form>
</div>

<!--<pre>Form one value: {{mainGroup.get('todoList').value | json}}</pre>-->
<!--<pre>Form two value: {{mainGroup.get('anotherTodoList').value | json}}</pre>-->
<!--<pre>Whole form value: {{mainGroup.value | json}}</pre>-->